body{
    font-family: 'Poppins';
}

#entry-screen{
    background-image: url("../img/Maths\ background\ @4x-100.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.play-button{
    border: solid red 0.5rem;
    padding: 0.5rem 3rem;
    border-radius: 2rem;
    background-color: yellow;
    font-size: 2rem;
    color: red;
    font-weight: bold;
    transform: translateX(-50%);
    box-shadow: 0.25rem 0.25rem 0.25rem yellow;
    transition: 0.5s;
}

.play-button:hover{
    color: yellow;
    border: solid yellow 0.5rem;
    background-color: red;
    box-shadow: 0 0 0;
}

#unscrambled p:hover{
    cursor: all-scroll;
}

/* #option-box div{
    width: 7rem;
    height: 4rem;
    border: solid red 2px;
} */

#option-box #drop6_1{
    top: 83%;
    left: 4%;
}

#option-box #drop6_2{
    top: 53%;
    left: 20%;
}

#option-box #drop6_3{
    top: 86%;
    left: 36%;
}

#option-box #drop6_4{
    top: 73%;
    left: 55%;
}

#option-box #drop6_5{
    top: 52%;
    left: 72%;
}

#option-box #drop6_6{
    top: 77%;
    left: 88%;
}

#option-box #drop5_1{
    top: 83%;
    left: 4%;
}

#option-box #drop5_2{
    top: 53%;
    left: 24%;
}

#option-box #drop5_3{
    top: 86%;
    left: 44%;
}

#option-box #drop5_4{
    top: 54%;
    left: 64%;
}

#option-box #drop5_5{
    top: 66%;
    left: 85%;
}

#answer-box{
    border: solid green 0.5rem;
    border-radius: 1rem;
    z-index: 999;
    display: none;
}

#unscrambled p{
    /* border: solid yellow 2px; */
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #ffffff;
    margin: 0.5rem 0.75rem;
    /* padding: 2rem 0.5rem; */
    width: 4rem;
    height: 5rem;
    line-height: 0;
    color: 	rgba(114, 43, 143, 0.8);
}

#option-box .col{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 0.5rem 0.75rem;
    width: 4rem;
    height: 5rem;
}

#option-box .col p{
    font-size: 4rem;
    color: rgba(114, 43, 143, 0.8);
    line-height: 0;
    padding: 0;
    margin: 0;
    letter-spacing: 0;
}

#option-box #row3{
    border-top: solid #C4747B 0.5rem;
    border-bottom: solid #C4747B 0.5rem;
}

#option-box .sign p, #option-box .sign{
    background-color: transparent;
    color: 	#C4747B;
}

.drop_no{
    visibility: hidden;
}